/* Thomas */

@charset "UTF-8";

/* font call */

@font-face {
    font-family: 'FontAwesome';
    src: url('../_fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('../_fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
    url('../_fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
    url('../_fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
    url('../_fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
    url('../_fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "_ar_var";

/* .col-lg-4:first-child, .col-lg-4:last-child {
padding-left: 0;
padding-right: 0;
} */

/* css reset */

*
{
    margin: 0;
    padding: 0;

    font-family: Arial, Verdana, Helvetica, sans-serif;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased; /* safari bold*/
}
*:before,
*:after
{
    box-sizing: border-box;
}

html,
body
{
    position: relative;
    height: 100%;
    font-size: $s_p;
    background: $c_white;
}

/* CSS DU HEADER */

header {
    img {
        width: 25%;
        margin: 20px 0;
        @media screen and (max-width: $m_mobile)
        {                   
            width: 40%;
            margin: 20px auto;
        }
    }

    /* #custom-search-input{
    padding: 3px;
    border: solid 1px $c_sub;
    border-radius: 6px;
    background-color: #fff;
    width: 40%;
    float: right;
    transform: translateY(50%);
}

    #custom-search-input input{
    border: 0;
    box-shadow: none;
    color: grey;
}

    #custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px $c_sub;
}

    #custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

    #custom-search-input .glyphicon-search{
    font-size: 23px;
    color: $c_sub;
} */

.panel-player {
    width: 50%;
    transform: translateY(50%);
    float: right;
    border: 1px solid $c_main;
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; 
    div {
        display: inline-block;
        margin: 0;
        padding: 0;
        float: left;
        p {
            color: $c_white;
            font-weight: 600;
            text-align: center;
            margin: auto;
        }
    }

    div.level {
        background-color: $c_sub;
        padding: 10px;
        border-top-left-radius: 3px; 
        border-right: 1px solid $c_main;
        width: 20%;
    }

    div.name {
        background-color: $c_sub;
        padding: 10px;
        border-right: 1px solid $c_main;
        width: 60%;
    }

    div.avatar {
        background-color: $c_sub;
        padding: 10px;
        border-top-right-radius: 3px; 
        width: 20%;
        text-align: center;
        i {
            color: $c_white;
        }
    }

    div.progress-bar {
        width: 100%;
        height: 10px;
        background-color: transparent;
        border:  1px solid $c_main;

        > div {
            padding: 0;
            margin: 0;
            width: 33%;
            float: left;
            height: 10px;
            background-color: $c_main;
        }
    }
}
}

/* CSS DE LA BARRE NAV */

nav {
    .navbar-default {
        border-radius: 0;
        ul {
            li {
                margin: 0 10px;
            }
        }
    }
    @media screen and (max-width: $m_mobile)
    {                   
        .navbar-toggle {
            display: block;
            margin: 13px auto;
            float: none;
        }
    }
}


.navbar {
    margin-bottom: 0;
    min-height: 60px;
    height: 62px;
    border-radius: 0;

    @media screen and (max-width: $m_mobile) {
        height: auto;
    }

    ul {
        li {
            padding: 20px 0; 
        }
    }

    ul.dropdown-menu {
        li {
            padding: 0;
            border-bottom: 3px solid $c_white;
        }
        li:hover {
            background-color: $c_sub;
            border-bottom: 3px solid $c_main;
            a:hover {
                color: $c_white;
            }
        }
    }
}


.navbar-nav>li>a {
    padding: 0;
    margin: 0 15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover  {
    color: #FFF;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
}

.dropdown-menu { min-width: 0;  padding: 0;
    li {
        float: left;
        padding: 0;
        width: 100%;
        a {
            padding: 20px;

            img {
                width: 32px;
                margin-right: 15px;
            }
        }
    }

}

.navbar-nav {
    @media screen and (max-width: $m_mobile) {
        margin: 0;
    }
}

.navbar-default .navbar-nav>.open>a:focus {
    color: $c_white;
    background-color: transparent;
}

.dropdown-menu>li>a:hover {
    background-color: transparent;
}

.carousel-control.left, .carousel-control.right { background: none;}


/* GENERAL STYLING  */

h1 {
    width: 100%;
}

p {
    color: $c_white;
}

/* SECTION */

main {
    margin: 30px 0;
}

.breadcrumb {
    margin: 20px 0;
    margin-bottom: 0;
    width: 50%;

    .breadcrumb-item {
        a {
            color: grey;
        }
    }

    > .active {
        color: $c_main;
        font-weight: 600;
    }
}

#level {
    padding-left: 15px; 
    padding-right: 15px; 

    .table {
        display: table;
        margin: 0 auto;
    }

    ul#horizontal-list {
        list-style: none;
        padding-top: 20px;
    }
    ul#horizontal-list li {
        display: inline;

        a {
            color: $c_sub;
            font-weight: 700;
            transition: 0.3s ease;
        }

        a:hover {
            color: $c_main;
        }
    }

    .espacement {
        height: 5px; 
        background-color: $c_main;
        margin-top: 30px;
    }

    h2 {
        text-align: center;
        margin: 0;
        color: $c_white;
        padding: 15px 30px;
        background-color: $c_sub;
        text-transform: uppercase;
        font-weight: 700;
    }

    .jeu-cp {
        width: 100%;
        margin-top: 30px;
        img {
            width: 100%;
        }

        h4 {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-left: 3px solid $c_main;
            padding-left: 15px;
        }

        .bloc {
            padding-left: 60px;

            h3 {
                margin: 0;
                font-weight: 700;
                text-transform: uppercase;
            }

            .space {
                height: 3px;
                margin: 10px 0;
                width: 35%;
                background-color: $c_main;
            }

            p {
                color: #000;
                font-size: 18px;
            }

            a {
                color: $c_sub;
                float: right;
                text-transform: uppercase;
                font-weight: 700;
                padding: 10px 55px;
                border: 1px solid $c_sub;
                transition: 0.3s ease;
            }

            a:hover {
                color: $c_white;
                background-color: $c_sub;
                border: 1px solid $c_sub;
            }
        }
    }
}

#pub_game {
    display: flex; 
    flex-flow: row wrap;


    article {
        width: 33.3%;
        padding: 0 15px;

        @media screen and (max-width: $m_mobile) {
            width: 100%;
            padding: 0;
        }

        .caption {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            width: 100%;
            margin-left: 5%;
        }

        .caption h3{
            font-weight: 700;
            text-transform: uppercase;
            vertical-align: middle;
        }

        .caption .space {
            height: 3px;
            width: 15%;
            background-color: $c_main;
        }

        .caption p{
            color: $c_main;
            width: 50%;
            vertical-align: middle;
            padding-left: 15px;
        }

        .caption a{
            color: $c_sub;
            padding: 10px 35px;
            margin: 10px 0;
            border: 1px solid $c_sub;
            transition: 0.3s ease;
        }

        .caption a:hover{
            color: $c_white;
            background-color: $c_sub;
            border: 1px solid $c_sub;
        }
    }
}

#niveaux {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;

    div {
        width: 33.3%;
        padding: 0 15px;
        margin: 10px 0;

        @media screen and (max-width: $m_mobile) {
            width: 100%;
            padding: 0;
        }

        a:hover {
            text-decoration: none;
        }

        div.caption {
            width: 100%;
            height: 200px;

            h3 {
                font-size: 42px;
                margin: 0;
                text-align: center;
                color: #FFF;
                line-height: 200px;
                transition: 0.3s ease;
            }

            h3:hover {
                font-weight: 700;
            }
        }

        .img-cp {
            background-image: url(../_images/dog.jpg);
            background-size: cover;
        }

        .img-ce1 {
            background-image: url(../_images/cat.jpg);
            background-size: cover;
        }

        .img-ce2 {
            background-image: url(../_images/goat.jpg);
            background-size: cover;
        }

        .img-cm1 {
            background-image: url(../_images/horse.jpg);
            background-size: cover;
        }

        .img-cm2 {
            background-image: url(../_images/lions.jpg);
            background-size: cover;
        }
    }
}



/* ARTICLE */

article {
    margin: 10px 0;
    img {
        width: 100%;
    }
}


/* FOOTER */ 

footer {
    background-color: $c_dark;
    padding: 20px 0;

    h4 {
        text-transform: uppercase;
        color: $c_white;
        font-weight: 600;
    }

    p.copy {
        text-align: center;
    }

    ul {
        list-style-type: none;
        position: relative;
        margin-left: 40px;
        li {
            margin: 5px 0;
            a {
                color: $c_white;
            }
            a:hover {
                color: $c_white;
                text-decoration: underline;
            }
            a:before {
                content: ">";
                margin-right: 15px;
                text-decoration: none;
            }
            a:hover:before {
                text-decoration: none;
            }
        }
    }

    /* global styles */
    .hi-icon a {
        display:block; 
        width:100%; 
        height:100%;  
        position:absolute; 
        top:0px; 
        z-index:100 
    }

    .hi-icon-wrap {
        text-align: left;
    }


    .hi-icon {
        display: inline-block;
        font-size: 0px;
        cursor: pointer;
        margin: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        position: relative;
        z-index: 1;
        color: #fff;
    }

    .hi-icon:first-child{
        margin-left: 0;
    }

    .hi-icon:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        -webkit-box-sizing: content-box; 
        -moz-box-sizing: content-box; 
        box-sizing: content-box;
    }

    .hi-icon:before  {
        speak: none;
        font-size: 18px;
        line-height: 40px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: block;
        -webkit-font-smoothing: antialiased;
    }

    /* Effect 1 */
    .hi-icon-effect-1 .hi-icon {
        background: rgba(255,255,255,0.1);
        -webkit-transition: background 0.2s, color 0.2s;
        -moz-transition: background 0.2s, color 0.2s;
        transition: background 0.2s, color 0.2s;
    }

    .hi-icon-effect-1 .hi-icon:after {
        top: -3px;
        left: -3px;
        padding: 3px;
        box-shadow: 0 0 0 2px #fff;
        -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
        -webkit-transform: scale(.8);
        -moz-transition: -moz-transform 0.2s, opacity 0.2s;
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        transition: transform 0.2s, opacity 0.2s;
        transform: scale(.8);
        opacity: 0;
    }

    /* Effect 1a */
    .hi-icon-effect-1a .hi-icon:hover {
        background: rgba(255,255,255,1); 
        color: #565656;
    }

    .hi-icon-effect-1a .hi-icon:hover:after {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

}
/* end global styles */

#owl-carrousel {
    display: block;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: 300px;
}

#owl-demo .item .caption {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
}

#owl-demo .item .caption h3{
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 15px;
}

#owl-demo .item .caption p{
    color: $c_main;
    width: 50%;
    vertical-align: middle;
    padding-left: 15px;
}

#owl-demo .item .caption a{
    color: $c_sub;
    padding: 10px 15px;
    margin: 0 15px;
    border: 1px solid $c_sub;
    transition: 0.3s ease;
}

#owl-demo .item .caption a:hover{
    color: $c_white;
    background-color: $c_sub;
    border: 1px solid $c_sub;
}


/* PAGE DES SCORE */ 

.nav-tabs {
    border: none;
}

.nav-tabs>li {
    width: 50%;
    border: none; 
    margin: 0;

    a {
        text-align: center;
        border: 1px solid $c_sub;
        margin: 0;
        color: $c_sub;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 700;
    }

    a:hover {
        border: 1px solid $c_sub;
    }
}

.nav-tabs li.active {
    a, a:focus, a:hover {
        border: 1px solid $c_sub;
        background: $c_sub;
        color: $c_white;
    }
}

.tab-content>.active {
    margin-top: 30px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

.list-group-item {
    text-align: center;
    border: 1px solid $c_main;

    span {
        position: absolute;
        left: 10px;
    }
}

.list-group {

    padding-right: .5rem;

    .list-group-item {
        background: $c_white;
    }

    .active, .active:hover, .active:focus  {
        background: $c_main;
        border:none;
    }

    .title, .title:hover {
        text-transform: uppercase;
        color: $c_white;
        background: $c_main;
        pointer: none;
        font-weight: 700;
    }
}

.panel-default>.panel-heading {
    background: $c_main; 
    color: $c_white;
    .panel-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.panel-default {
    border-color:  $c_main;
}

.panel-body {
    padding: 0;

    img {
        width: 100%;
        height: 150px;
    }

    p {
        color: #000;
        padding: 30px;
        text-align: center;
    }
}

